<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>weathersite</title>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/templateTwo.css">
        <link rel="stylesheet" type="text/css" href="css/templateThree.css">
        <script src="https://kit.fontawesome.com/bfcd76acfa.js" crossorigin="anonymous"></script>
        
    </head>
    <body >
        <div class="sub-layout-one">

            <div class="sl-childOne-description"><text class="location-heading">New York, NY, United States As of 04:37 EDT</text></div>

            <div class="sl-childTwo-currentTemp"></div>
            <div class="sl-childThree-weatherCondition"></div>
            <div class="sl-childFour-dayHigh"><span></span></div>
            <div class="sl-childFive-nightLow">Night 20&#176;<span></span></div>

            <div class="sl-childSix-toogle"></div>
            
        </div>

        <div class="sub-layout-two">

            <div class="sl-two-childOne-title">Today's Forecast For New York City, NY, United States </div>
            
            <div class="dayParts">
                <div class="morning">Morning</div>
                <div class="evening">Evening</div>
                <div class="afternoon">Afternoon</div>
                <div class="night">Night</div>
            </div> 
            <div class="dayTemperature">
                <div class="morning-temp">25<span>&#176;</span></div>
                <div class="evening-temp">30<span>&#176;</span></div>
                <div class="afternoon-temp">28<span>&#176;</span></div>
                <div class="night-temp">19<span>&#176;</span></div>
            </div>

            <div class="dayLogo">
                <img class="morning-logo " src="images/sun.png" height="50px">
                <img class="evening-logo" src="images/afternoon.png" height="50px" width="50px">
                <img class="afternoon-log" src="images/evening.png" height="50px" width="50px">
                <img class="night-logo" src="images/overnight.png" height="50px" width="50px">
            </div>

            <div class="precipitationPerecentage">
                <div class="morning-pp">0<span>&#37;</span></div>
                <div class="evening-pp">5<span>&#37;</span></div>
                <div class="afternoon-pp">0<span>&#37;</span></div>
                <div class="night-pp">--</div>
            </div>
        </div>

        <div class="sub-layout-three">
            <div class="location-three">Weather Today In NewYork City, NY, United States</div>
            <div class="weather-info">
                <div class="weather-feelsLike">21<span>&#176;</span></div>
                <div class="unknown-info"></div>
            </div>
            <div class="detail-weather-info">
                <div class="icons">
                    
                        <div><i class="fa-solid fa-temperature-empty fa-2x"></i></div>
                        <div><i class="fa-solid fa-droplet fa-2x"></i></div>
                        <div><i class="fa-solid fa-down-left-and-up-right-to-center fa-2x"></i></div>
                        <div><i class="fa-solid fa-eye fa-2x"></i></div>
                </div>
                <div class="title">
                    <text>High/Low</text>
                    <text>Humidity</text>
                    <text>Pressure</text>
                    <text>Visibility</text>
                </div>

                <div class="weather-data">
                    <text class="high-low">30/40</text>
                    <text class="humidity">67%</text>
                    <text class="pressure">1012.5 mb</text>
                    <text class="visibility">ulimited</text>
                </div>
                 
                <div class="icons-2">
                    
                    <div><i class="fa-solid fa-wind fa-2x"></i></div>
                    <div><i class="fa-solid fa-droplet fa-2x"><span>&#176;</span></i></div>
                    <div><i class="fa-regular fa-sun fa-2x"></i></div>
                    <div><i class="fa-regular fa-moon fa-2x"></i></div>
                </div>
                <div class="title-2">
                    <text>Wind</text>
                    <text>Dew point</text>
                    <text>UV Index</text>
                    <text>Moon Phase</text>
                </div>

                <div class="weather-data-2">
                    <text class="wind">8 km/h</text>
                    <text class="dew-point">14</text>
                    <text class="UV">0 of 10</text>
                    <text class="moon-phase">Wanning Gibbous</text>
                </div>

                </div>
        </div>
        
    </body>
    <script src="js/index.js"></script>

</html>